.middle{
    width: 280px;
    height: 100%;
    background-color: #F1F1F1;
    padding: 0 15px;
}

h3{
    color: #3C3C3C;
    padding: 8px;
    line-height: 0px;
}

input{
    padding: 6px;
    width: 100%;
    border: 1px solid#E8E8E8;
    outline: none;
    border-radius: 3px;
}

.segments{
    color: #727272;
    font-weight: bold;
    font-size: 13px;
}

.flex{
    display: flex;
    align-items: center;
    font-size: 11px;
}
.flex span{
    padding-left: 8px;
}
.btn{
    background-color: #334BFA;
    border-radius: 5px;
    color: white;
    padding: 3px 8px;
    margin-top: 2.5rem;
    cursor: pointer;
}
.small{
    padding-right: 5px !important;
}